<div class="window">

  <!-- .toolbar-header sits at the top of your app -->
  <header class="toolbar toolbar-header">
    <h1 class="title">Electron App</h1>
  </header>

  <!-- Your app's content goes inside .window-content -->
  <div class="window-content">
    <div class="pane-group">
      <div class="pane pane-sm sidebar">
        <nav class="nav-group">
          <h5 class="nav-group-title">Tabs</h5>
          <a routerLink="/mytask" routerLinkActive="active">
          <span class="nav-group-item">
            <span class="icon icon-home"></span>
            My Task
          </span>
          </a>
          <a routerLink="/cashentry" routerLinkActive="active">
          <span class="nav-group-item">
            <span class="icon icon-light-up"></span>
            Cash Entry
          </span>
          </a>
          <a routerLink="/fxa" routerLinkActive="active">
          <span class="nav-group-item">
            <span class="icon icon-download"></span>
            FXA
          </span>
          </a>
          <a routerLink="/tradeconfirms" routerLinkActive="active">
          <span class="nav-group-item">
            <span class="icon icon-folder"></span>
            Trade Confirms
          </span>
          </a>
        </nav>
      </div>

      <div class="pane">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
